.img-container{
    display: flex;
    justify-content: center;
    justify-content: space-between;
    flex-wrap: wrap;
    width: 110;
    /* background-image: url('https://wallpapercave.com/wp/wp8144315.jpg'); */
    /* border: 2px solid green */
}
.img-item{
    height: 250px;
    width: 370px;
    margin: 10px;
    border-radius: 20px;
    border: 3px solid black
}

#platform-box{
    width: 100%;
    /* display: flex; */
    /* justify-content: space-between; */
    /* border: 3px solid red; */
}

#parent{
    display: flex;
    justify-content: center;
    flex-direction: column;
    /* border: 2px solid black; */
    width: 100%;
    height: 100%;
    
}

#title1{
    color: aliceblue;
    margin-bottom: 30px;
    /* border: 2px solid black */
}

@media only screen and (min-width: 1560px) {
    .img-item{
        height: 250px;
        width: 290px;
        margin: 10px;
        border-radius: 20px;
        border: 3px solid black

    }
}