.playing, .online {
  height: 200px;
  width: 400px;
  border: 3px solid black;
  background-color: cornsilk;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.status-box {
  display: flex;
  width: 100%;
  justify-content: space-around;

}
.btns-wrapper{
  display: flex;
  justify-content: center;
  flex-direction: column; 
  align-items: center;
}
.Carousel-wrapper{
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 15px;
}
.Carousel{
  /* display: flex; */
  /* justify-content: center; */
  width: 700px;
  border: 3px solid black;
  height: 356px;
  
}

.btns{
  border: 2px solid black;
width: 100px;
margin-top: 15px;
margin-bottom: 15px;

}

.blue{
  background-color: blue;
}
.green{
  background-color: green;
}

.status-circle {
  width: 10px;
  height: 10px;
  margin-left: 5px;
  border-radius: 100%;
}

.status-text {
  display: flex;
  align-items: center;
}