body {
  text-align: center;
  background-image: url('../public/images/background-img.png');
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  position: absolute;
  left: 0;
  right: 0;
  height:100%;
}

@media only screen and (max-width: 768px) {
    body {
        height: unset;
    }
}

@media only screen and (max-width: 425px) {
    body {
        padding: 40px; 
    }
}
